body {
font-size: 16px;
background-color: white;
color: rgb(63, 63, 63);
font-family: 'Mukta', sans-serif;
}

header {
    background-color:rgb(255, 255, 255)

} 
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10%;
      
}
h1 {
    display: flex;
    justify-content: center; 
    margin: 0;
}


 ul.nav-bar {
    
    display: flex;
    flex-direction: row;
    margin: 0;
   
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

h3#topic {
    text-decoration: underline;
    padding: 5px 20px;
    margin: 0;
}
div.blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

a:hover {
    color: rgb(0, 128, 117) ;

}

.nav {
    width: 80%;
    height: 2px;
    margin: 0 10%;
    background-color: rgb(0, 128, 117); 
    opacity: 0.7;
}



.about {
    width: 80%;
    margin: 0 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .tech blog post below */

div.tech-blog {
    width: 80%;
    margin: 0 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.jsBullets {
    list-style-type: none;
}
/* .tech blog post above*/


h2#kiaora {
    margin: 0 20%;
    display: flex;
    justify-content: center;
    
}

p#welcome {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

section.main {
    width: 100%;
    height: auto;
    background-color: rgb(253, 253, 253);
    position: relative;
    margin-bottom: 400px;
}

div#about {
    background-color: rgb(192, 192, 192);
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 30px 30px 100px;
    text-align: center;
    padding: 10px 50px 50px 50px;
    border: rgb(0, 128, 117) solid 2px;
    border-radius: 8px;
}
div#image {
    display: flex;
    justify-content: flex-end;
    position: absolute;

        top: 350px;
        right: 50px;
   

}
  
img.van {
    width: 470px;
    height: 300px;
    border-radius: 8px;
    
}

.line-bottom {
    height: 2px;
    background-color: rgb(0, 128, 117); 
    margin-bottom: 50px;
    opacity: 70%;
    
}

div.nav-bottom {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    height: 200px; width: 300px;
    border: rgb(0, 128, 117) solid 2px;
    border-radius: 8px;
}

img#jsImage1 {
    height: 250px; width: 300px;
    border: rgb(0, 128, 117) solid 2px;
    border-radius: 8px;
}

img#jsImage2 {
    height: 100px; width: 400px;
    border: rgb(0, 128, 117) solid 2px;
    border-radius: 8px;
}




div.nav-bottom {
    margin-bottom: 250px;
}



a#tech {
    color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;

}

a#tech:hover {
    color: rgb(0, 128, 117) ;
}

a#learn {
    color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
}
a#learn:hover {
    color: rgb(0, 128, 117) ;
}

a#values {
    color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
}
a#values:hover {
    color: rgb(0, 128, 117) ;
}


footer {
    display: flex;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    color: rgb(53, 53, 53);

}

#rights, #gus {
    padding: 5px;
}





////---- Tech Blog -----\\\\

div.tech-blog {
    width: 80%;
    margin: 0 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


div#tech {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title {
    margin: none; 
}

/* h3#topic {
    margin-bottom: 60px;
} */

section.main-tech {
    width: 100%;
    font-size: 20px;
    height: auto;
    background-color: rgb(253, 253, 253);
    position: relative;
    margin-bottom: 30px;
}


#content {
    background-color: rgb(241, 241, 241);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 30px 0;
    text-align: center;
    padding: 10px 50px 50px 50px;
    border: rgb(0, 128, 117) solid 1px;
    border-radius: 8px;
}

span#highlight {
    background-color: yellowgreen;
    border: rgb(0, 128, 117) solid 1px;
    padding: 0px 5px;
    margin: 0px 5px;
}
span#bold {
    font-weight: bold;
    color: rgb(0, 128, 117);
    text-decoration: underline;
    
}

#example1 {
    background-color: white;
    border: rgb(0, 128, 117) solid 1px;
    padding: 10px;
}

\\\\ Tech Blog /////



///// Learning Plan \\\\\


